.screen-header {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  align-items: center;
}

.screen_header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}
